
.calculadora{
  background-color: rgb(173, 6, 214);
  padding: 20px;
  border-radius: 7px; 
  border: 7px solid rgba(235, 143, 238, 0.808);
  border-style: dashed;
}

#body{
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
  background-color: rgb(245, 170, 245);
}

#resultado{
  margin-left: 20%;
  margin-bottom: 20%;
}

input{
  background-color: rgb(245, 170, 245);
  width: 100%;
  height: 20px;
  border-radius: 5px;
  box-shadow: 5px;
}

input:hover{
  width: 100%;
  height: 20px;
  border-radius: 5px;
  opacity: 0.7;
}

#porc_gorjeta{
  background-color: rgb(245, 170, 245);
  width: 100%;
  height: 20px;
  border-radius: 5px;
}

#porc_gorjeta:hover{
  background-color: rgb(245, 170, 245);
  width: 100%;
  height: 20px;
  border-radius: 5px;
  opacity: 0.7;
}

label{
margin-bottom: 1px;
padding: 2px;
}

button{
margin: 5px;
width: 30px;
height: 30px;
border-radius: 50%;
border: 1px solid rgba(78, 3, 97, 0.08)
}

#valor_pessoa{
  float: right;
  }
